table {
  border-collapse: collapse; /* make the table borders collapse to each other */
  width: 100%;
}

th,
td {
  width: 100px;
  padding: 8px 16px;
  border: 1px solid #ccc;
}

th {
  background: #eee;
}